{% extends 'base.html' %}
{% block content %}
    <h1>Beer Details- </h1>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ beer.beer_name }}</span>
                    <p>Brewery: {{ beer.brewery_name }}</p>
                    <p>Description: {{ beer.description }}</p>
                    <p>Type of Beer: {{ beer.type }}</p>
                    <p>ABV: {{ beer.abv }}%</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'beers_update' beer.id %}">Edit</a>
                    <a href="{% url 'beers_delete' beer.id %}">Delete</a>
                </div>
            </div>
            {% for photo in beer.photo_set.all %}
                <img src="{{photo.url}}" alt="{{beer.beer_name}}" class="responsive-img card-panel">
            {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
            <form class="card-panel" action="{% url 'add_photo' beer.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br>
                <br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>
        </div>
        <div class="col s6">
            <form action="{% url 'add_drinking' beer.id %}" method="POST">
                {% csrf_token %}
                {{ drinking_form.as_p }}
                <input type="submit" class="btn" value="Add Date Drank">
            </form>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date Drank:</th>
                        <th>Served:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for drinking in beer.drinking_set.all %}
                    <tr>
                        <td>{{ drinking.date }}</td>
                        <td>{{ drinking.get_served_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<!-- markup for hops -->

    <hr>
    <div class="row">
        <div class="col s6">
            <h3>{{ beer.beer_name }}'s Hops</h3>
        {% if beer.hops.count %}
            {% for hop in beer.hops.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A {{ hop.name }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No Hops</h5>
        {% endif %}
        </div>
    
        <div class="col s6">
            <h3>Available Hops</h3>
        {% if hops.count %}
            {% for hop in hops.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A {{ hop.name }}
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_hop' beer.id hop.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add Hop</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %} 
            <h5>{{ beer.beer_name }} already has all available hops</h5>
        {% endif %}
        </div>

    </div>
   <!-- markup for venues -->
        <hr>
<div class="row">
    <div class="col s6">
        <h3>{{ beer.beer_name }}'s Consumption Location</h3>
    {% if beer.venues.count %}
        {% for venue in beer.venues.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ venue.name }}
                    </span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h5>No Venues</h5>
    {% endif %}
    </div>

    <div class="col s6">
        <h3>Available Venues</h3>
        {% if venues.count %}
            {% for venue in venues.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {{ venue.name }}
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_venue' beer.id venue.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>{{ beer.beer_name }} already has been consumed at all available venues.</h5>
        {% endif %}
    </div>
</div>
    </div>

    <script>
        // Constants
        const dateEl = document.getElementById('id_date');
        const selectEl = document.getElementById('id_served');

        // Configure datepicker
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            default: new Date(),
            setDefault: true,
            autoClose: true,
        });

        // Configure the select tag
        M.FormSelect.init(selectEl);
        
    </script>

{% endblock %}