{% extends 'base.html' %}
{% block content %}
    <h1>Beer Details</h1>
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ beer.beer_name }}</span>
                <p>Brewery: {{ beer.brewery_name }}</p>
                <p>Description: {{ beer.description }}</p>
                <p>Type of Beer: {{ beer.type }}</p>
                <p>ABV%: {{ beer.abv }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'beers_update' beer.id %}">Edit</a>
            </div>
        </div>
{% endblock %}