{% extends 'base.html' %}
{% block content %}
    <h1>Venue List- </h1>
    {% for venue in venue %}
        <div class="card">
            <a href="{% url 'venues_detail' venue.id %}">
                <div class="card-content">
                    <span class="card-title">{{ venue.name }}</span>
                    <p>Address: {{ venue.address }}</p>
                    <p>City: {{ venue.city }}</p>
                    <p>State: {{ venue.state }}</p>
              
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}