{% extends 'base.html' %}
{% block content %}
    <h1>Hops List</h1>
    {% for hop in hops %}
        <div class="card">
            <a href="{% url 'hops_detail' hop.id %}">
                <div class="card-content">
                    <span class="card-title">{{ hop.name }}</span>
                    <p>Characteristics: {{ hop.characteristics }}</p>
                    <p>Alpha Acids: {{ hop.alpha_acid }}%</p>
              
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}